.container-title {
    text-align: center;
    padding: 20px;
    margin-top: 25vh;
  }
  
  .title {
    font-size: 5rem;
    line-height: 1.2;
  }
  
  .title .software {
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px hsla(0, 0%, 6%, .1), 1px 22px 10px hsla(0, 0%, 6%, .1), 1px 25px 35px hsla(0, 0%, 6%, .1), 0px 0px 0px hsla(0, 0%, 6%, .1);
  }
  
  .title .engeineer {
    display: block;
    font-weight: bold;
    font-size: 6rem;
    color: #5d62fb; /* Purple color */
    text-shadow: 
      1px 1px 1px #6c63ff,
      2px 4px 4px rgba(0, 0, 0, 0.6);
  }
  
  .subtitle {
    margin-top: 10px;
    font-size: 1rem;
    font-style: italic;
    font-weight: bolder;
    color: #333;
  }
  
  .buttons {
  display: flex;
  margin: auto;
  margin-top: 20px;
  flex-direction: row; /* Alinha os itens horizontalmente (padrão) */
  gap: 10px; /* Espaço entre os botões */
  justify-content: center; /* Centraliza os botões horizontalmente */
}


  .buttons a{
    text-decoration: none;
  }
  
  .btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .btn.primary {
    background-color: #6c63ff;
    margin: auto 0;
    color: #fff;
  }
  
  .btn.primary:hover {
    background-color: #333;
  }
  
  .btn.secondary {
    background-color: #2a2a2a;
    color: #fff;
    border: 2px solid #6c63ff;
  }
  
  .btn.secondary:hover {
    background-color: #6c63ff;
  }
  
  .btn span {
    margin-left: 5px;
  }

  .bar{
    width: 50rem;
    height: 2vh;
    background-color: #6c63ff;
    border: solid 2px #6c63ff;
    border-radius: 50px;
    margin: auto;
  }


  @media screen and (max-width: 900px) {
    .bar{
        width: 80vw;
    }

    .title {
        font-size: 10vw;
        line-height: 1.2;
      }

      .title .engeineer{
        font-size: 11vw;
        line-height: 1.2;
      }
  }

 
@media screen and (max-width: 610px) {
    .buttons {
      flex-direction: column;
      gap: 10px; /* Espaço entre os botões, se necessário */
      align-items: center; /* Para centralizar os botões */
    }
  }
  