<div class="container-title">
    <h1 class="title">
      <span class="software">Software</span>
      <span class="engeineer">ENGEINEER</span>
      <div class="bar"></div>
    </h1>
    <p class="subtitle">Oi, meu nome é Victor Liger e sou um engenheiro de software 
        com 3+ anos de experência</p>
    <div class="buttons">
        <a href="https://github.com/VicLiger" target="_blank" class="btn primary">
            Github <span><i class="fa-brands fa-github"></i></span>
          </a>
          <a href="https://www.linkedin.com/in/victorliger" target="_blank" class="btn primary">
            Linkedin <span><i class="fa-brands fa-linkedin"></i></span>
          </a>
          
          <a href="/public/Curriculo.pdf" download class="btn secondary">
            Download currículo <span>👨🏻‍💻</span>
          </a>
          
    </div>
  </div>